{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}

	{% if category %} <!--check if the category existed-->
		{{ category.description|truncatewords:155 }}
	{% else %}
		Welcome to Chat To Me store.
	{% endif %}
{% endblock %}


{% block title %}
	{% if category %} <!--check if the category existed-->
		{{ category.name }} - Chat To Me Store
	{% else %}
		See Our Collection - Chat To Me Store
	{% endif %}
{% endblock %}

{% block content %}
	<!--Breadcrumb navigation-->
	{% if category %} <!--check if the category existed-->
		<div class="row my_row_class"> <!-- my_row_class is defined in custom.css-->
            <div class="mx-auto"> <!-- help to center the breadcrumb navigation, defined in custom.css -->
                <p><a href="{% url 'shop:allProdCat' %}">Our Product Collection</a> | {{category.name}}</p>
            </div>

        </div>
	{% endif %}


	<!-- Category name style -->
    <div class="mx-auto">
	{% if category %}
		<!-- <img src="{{category.image.url}}" alt="{{category.name}}"> -->
		<img class="my_image" src="{{category.image.url}}" alt="{{category.name}}"> <!-- "my_image" css will control the size of the category photo -->
	</div>
	<br>
	<div>
		<h1 class="text-center my_title">{{category.name}}</h1>
		<p class="text-justify">{{category.description}}</p>
	</div>

	<!-- Banner .jpg style -->
    {% else %}
		<img class="my_image my_image_padding" src="{% static 'img/banner.jpg' %}" alt="Our Products Collection">
	</div>
	<br>


	<!-- Styling the Our product Collection-->
	<div>
		<h1 class="text-center my_title">Our Products Collection</h1>
		<p class="text-justify">Finding the perfect cushion for your room can instantly add to the levels of comfort and sense of style throughout your home. They can transform the blandest of decors instantly by adding colour, softness and an air of cosiness. As well as being comfy and looking great our range of cushions will certainly embolden your décor with personalised charm.</p>
	</div>
	{% endif %}


	{% comment %} <!-- Initial catergory .html to load products detail, build in course 8 -->
	<div>
		<div>
			{% for product in products%} <!-- for loop for list out the product-->
				<div>

					 <div>
						<a href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name}}"></a>
                        <div> <!-- control the font style inside card component-->
                           <h4>{{product.name}}</h4>
                            <p>HK${{product.price}}</p>
                            <p>Stock:{{product.stock}}</p>
                        </div>

					</div>


				</div>

     		 {% endfor %}

		</div>

	</div> {% endcomment %}


	<!-- Styling the product list method -->
    <div class="container"> <!-- after adding this container, the product list changed in course 12 -->
        <div class="row mx-auto">
			{% comment %} {% for product in products%} <!-- for loop for list out the product for initial basic version --> {% endcomment %}
            {% for product in products.object_list %} <!-- for loop for list out the product-->
                <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
                    <div class="card text-center" style="min-width: 18rem;"> <!-- using bootstrap "Card components", product are listed in grid, but img inside over the grid-->

						<!-- below img class control the size of the img so that they not exceed the grid-->
                        <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>

                        <div class="card-body"> <!-- control the font style inside card component-->
                            <h4>{{product.name}}</h4>
                            <p>${{product.price}}</p>
							<p>Stock:{{product.stock}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}


<!-- Pagination  built in course 15 -->
		</div>
		<div class="mx-auto">
			{% if products.paginator.num_pages > 1 %} <!-- check that page no. is above one-->
				<hr><!-- if this true, then : -->
				<div class="text-center">
					{% for pg in products.paginator.page_range %} <!-- for loop, this variables is the no.of pages were we have is a page range-->
						
						<!-- the hyperlink traget is to be equal to the page no., that is variable pg-->
						<a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %}active{% endif %}">{{pg}}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<br>
	</div>
{% endblock %}