

<!-- add the initial bootstrap to the navbar.html in course 11 -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <!-- if the word shop in the requested path then the active class will add to the webpage, it is to verify the word shop in the path -->
      <!-- then there will be a "Shop" drop down link in Navbar-->
      <li class="nav-item dropdown {% if 'shop' in request.path %}active{% endif %}"> 
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shop
        </a>

        


        <!-- Add All products and categories to shop dropdown-->
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'shop:allProdCat' %}">All Products</a> <!-- show "All Products" under Shop dropdown -->

          <!-- Add a for loop for generating the other categories to the shop dropdown-->
          {% for cat in links %} <!--  for loop -->
          <a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a>
          {% endfor %}


        </div>
      </li>


      <ul class="navbar-nav mr-auto"> <!--  add another -->
        <li class="nav-item active">
          <a class="nav-link" href="..">HEATHY TIPS <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="..">BOOKING <span class="sr-only">(current)</span></a>
        </li>

        {% comment %} <a href=".." class=" {% if active == 'settings' %} active {% endif %}">BOOKING </a>
        {% endcomment %}
      </ul>


      {% comment %} <!-- add Your Cart to the Navbar basic version, bulti in course 14 -->      
      <li class="nav-item">
          <a class="nav-link" href=""><i class="fas fa-shopping-cart"></i>()</a>
          <!-- after adding the cart icon, the search item moved to the right hand side of the navbar-->
      </li>
    </ul> {% endcomment %}

      <!-- add Your Cart to the Navbar in course 18 -->  
      {% if item_count > 0 %}    <!-- if true, shopping cart icon will show up -->
      <li class="nav-item">
          <a class="nav-link" href="{% url 'cart:cart_detail' %}"><i class="fas fa-shopping-cart"></i>({{item_count}})</a>
      </li>
      {% endif %}
    </ul>


    {% comment %} <!-- Search component  basic version, course 14 -->
    <form class="form-inline my-2 my-lg-0"> <!--can add the search method here -->
      
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> 
      <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>  {% endcomment %}

    {% comment %} <!-- Search component  basic version, course 16-1-->
    <form class="form-inline my-2 my-lg-0" action="" method="get"> <!--can add the action and search method 'get' here -->
      {% csrf_token %} <!-- add cross site request. this is in order to ledge of protection-->
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> 
      <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>  {% endcomment %}


    
{% comment %} 
    
    <ul class="form-inline my-2 my-lg-0"> <!-- testing position-->

      <a href=".." class=" {% if active == 'settings' %} active {% endif %}">hidden Cashier</a>

    </ul>
     {% endcomment %}





    <!-- Search component -->
    <form class="form-inline my-2 my-lg-0" action="{% url 'search_app:searchResult' %}" method="get"> <!-- the search method -->
      {% csrf_token %} <!-- add cross site request. this is in order to ledge of protection-->
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q"> <!-- if missing the name q, the search content will always be 'none'-->
      <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form> 







  </div>
</nav>



{% comment %} <!-- first version of the navbar -->
<nav>

    <ul>
        <li><a href="{% url 'shop:allProdCat' %}">All Products</a></li> <!-- allProCat is defined in views.py -->

        <!-- add the for loop for getting categories list -->
        {% for cat in links %} 
          <li><a href="{{cat.get_url}}">{{cat.name}}</a></li>
          {% endfor %}


        <li>Your Cart()</li>

    </ul>
</nav>  {% endcomment %}