{% extends "base.html" %}
{% load staticfiles %}
{% block metadescription %}
	We have a variety of stunning and healthy foods. Look for the one that suits your needs.
{% endblock %}
{% block title %}
	Search - Chat To Me Store
{% endblock %}
{% block content %}
	<div>
		<p class="text-center my_search_text">You have searched for: <b>"{{ query }}"</b></p> <!-- this query value is from the view.py in search_app -->
	</div>
	<div class="container">
		<div class="row mx-auto">

			<!-- copy from category.html, modified the for loop, not the same as category.html-->
			{% for product in products %} <!-- for loop -->
				<div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
					<div class="card text-center" style="min-width: 18rem;">
						<a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
						<div class="card-body">
							<h4>{{product.name}}</h4>
							<p>£{{product.price}}</p>
						</div>
					</div>
				</div>
				{% empty %} <!--  if the for loop is emty -->
				<div class="row mx-auto">
					<p class="text-center my_search_text">0 results found.</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}